altgraph==0.17.5
colorama==0.4.6
iniconfig==2.3.0
mss==10.2.0
numpy==2.5.3
opencv-python-headless==5.0.0.93
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
pluggy==1.6.0
Pygments==2.21.0
pyinstaller==6.22.3
pyinstaller-hooks-contrib==2026.8
pystray==0.19.5
pytest==9.1.1
pywin32==312
pywin32-ctypes==0.2.3
setuptools==84.0.0
six==1.17.0
